.cardInversion{
    box-shadow: 0 4px 8px 0 rgb(2, 19, 255);
    transition: 0.3s;
    display: flex;
    overflow: hidden;
    margin-left: 7%;
    margin-top: 2%;
    
  }

  .cardsInversion{
    overflow: auto;
    display: flex;
    width: 700px;
    padding: 10px;

  }

  .planess{

    width: 450px;
    
}